<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Search Website</title>
    <!-- font awesome icons cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- custom css -->
    <link rel="stylesheet"  href="public/assets/style.css">
    
</head>

<body>
    
    <div class = "wrapper">
        <!-- logo -->
        <div class = "logo">
            <div class = "container">
                <p>Movie<span>Corn.</span></p>
            </div>
        </div>
        <form method="GET" action="/movieName">
        <div class = "search-container">
            <div class = "search-element">
                <h3>Search Movie:</h3>
                <input type = "text" class = "form-control" placeholder="Search Movie Title ..." id = "movie-search-box" name="name_of_movie">
                <input type="submit" class="btn btn-success" value="Search">
            </div>
        </div>
        </form>
        <div class = "container">
            <div class = "result-container">
                <div class = "result-grid" id = "result-grid">
                    <!-- movie information here -->
                     <div class = "movie-poster">
                        <img src = "<%=Poster%>" alt = "movie poster">
                    </div>
                    <div class = "movie-info">
                    
                        <ul class = "movie-misc-info">
                            <li class = "year">Year <%YearOfRelease%></li>
                            <li class = "rated">Rating:<%=Rating%></li>
                            <li class = "released">Released: <%=YearOfRelease%></li>
                        </ul>
                        <p class = "genre"><b>Genre:</b><%=Genre%></p>
                        <p class = "writer"><b>Director:</b><%=director%></p>
                        <p class = "actors"><b>Actors: </b><%=Actors%></p>
                        <p class = "plot"><b>Plot:</b> <%=Plot%></p>
                        <p class = "language"><b>Language:</b> <%=Language%></p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

































<head>

    <body>

        <form method="GET" action="/movieName">
            <input type="text" name="name_of_movie" placeholder="Enter movie name" />
            <input type="submit">
        </form>

    </body>
</head>